<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.notice.mapper.WxdelayTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.notice.model.WxdelayTask">
        <id column="ID" property="id" />
        <result column="BUSINESS_ID" property="businessId" />
        <result column="BUSINESS_DATA" property="businessData" />
        <result column="BUSINESS_TYPE" property="businessType" />
        <result column="EXECUTE_TIME" property="executeTime" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

</mapper>
