<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.notice.mapper.WxFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.notice.model.WxForm">
        <id column="ID" property="id" />
        <result column="APPID" property="appid" />
        <result column="OPENID" property="openid" />
        <result column="FORM_ID" property="formId" />
        <result column="REMAIN_NUMBER" property="remainNumber" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

</mapper>
