<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.order.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.order.model.Order">
        <id column="ORDER_ID" property="orderId" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="ORDER_TYPE" property="orderType" />
        <result column="BUSINESS_ID" property="businessId" />
        <result column="ORDER_STATUS" property="orderStatus" />
        <result column="ORDER_AMOUNT" property="orderAmount" />
        <result column="GOOD_AMOUNT" property="goodAmount" />
        <result column="DISCOUNT_AMOUNT" property="discountAmount" />
        <result column="COUPON_AMOUNT" property="couponAmount" />
        <result column="EXPRESS_AMOUNT" property="expressAmount" />
        <result column="EXPIRT_TIME" property="expirtTime" />
        <result column="ORDER_SOURCE" property="orderSource" />
        <result column="CONSUMER_DESC" property="consumerDesc" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="PASSING_DATA" property="passingData" />
        <result column="CREATER_ID" property="createrId" />
        <result column="CREATER_TIME" property="createrTime" />
        <result column="MODIFY_TIME" property="modifyTime" />
    </resultMap>

</mapper>
