<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.order.mapper.OrderPackageLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.order.model.OrderPackageLog">
        <id column="LOG_ID" property="logId" />
        <result column="PACKAGE_NO" property="packageNo" />
        <result column="LOGISTICS_NO" property="logisticsNo" />
        <result column="ORDER_ID" property="orderId" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="LOGISTICS_NAME" property="logisticsName" />
        <result column="LOGISTIC_ACTION" property="logisticAction" />
        <result column="CREATER_TIME" property="createrTime" />
    </resultMap>

</mapper>
