<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.user.member.mapper.UserMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.user.member.model.UserMember">
        <id column="MEMBER_ID" property="memberId" />
        <result column="USER_ID" property="userId" />
        <result column="IS_ACTIVE" property="isActive" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="BE_MEMBER_TYPE" property="beMemberType" />
        <result column="BE_MEMBER_TIME" property="beMemberTime" />
        <result column="EXPIRY_DATE" property="expiryDate" />
        <result column="DEGRADE_TIME" property="degradeTime" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>
	
	<select id="getMaxMemberId" resultType="java.lang.Integer">
		SELECT MAX(MEMBER_ID) FROM v_user_member
	</select>
	<select id="getTotalCount" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM v_user_member v WHERE v.`ACTIVE` = 1 
	</select>
	<update id="updateUserId">
   		UPDATE t_user_member SET USER_ID=#{newUserId,jdbcType=BIGINT} WHERE USER_ID=#{oldUserId,jdbcType=BIGINT}
  	</update>
</mapper>
