<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.user.shopCart.mapper.UserShopCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.user.shopCart.model.UserShopCart">
        <id column="CART_ID" property="cartId" />
        <result column="GOOD_ID" property="goodId" />
        <result column="GOOD_SKU" property="goodSku" />
        <result column="SALE_ID" property="saleId" />
        <result column="GOOD_NAME" property="goodName" />
        <result column="GOOD_IMAGES" property="goodImages" />
        <result column="GOOD_NUM" property="goodNum" />
        <result column="MODEL_ID" property="modelId" />
        <result column="MODEL_NAME" property="modelName" />
        <result column="DELETE_FLAG" property="deleteFlag" />
        <result column="GOOD_PRICE" property="goodPrice" />
        <result column="BASE_PRICE" property="basePrice" />
        <result column="SELECT_FLAG" property="selectFlag" />
        <result column="GOOD_TYPE" property="goodType" />
        <result column="MEMBER_PRICE" property="memberPrice" />
        <result column="MEMBER_FLAG" property="memberFlag" />
        <result column="COMBINA_FLAG" property="combinaFlag" />
        <result column="CREATER_ID" property="createrId" />
        <result column="CREATER_TIME" property="createrTime" />
        <result column="MODIEFY_ID" property="modiefyId" />
        <result column="MODIFY_TIME" property="modifyTime" />
    </resultMap>

    <select id="sumByGoodsNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
      select sum(GOOD_NUM) from t_user_shopcart where DELETE_FLAG = 1 and CREATER_ID = #{createrId,jdbcType=BIGINT}
    </select>

</mapper>
