<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.good.mapper.GoodShowMapperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.good.model.GoodShowMapper">
        <id column="MAPPER_ID" property="mapperId" />
        <result column="GOOD_ID" property="goodId" />
        <result column="DICT_TYPE" property="dictType" />
        <result column="DICT_CODE" property="dictCode" />
        <result column="DICT_VALUE" property="dictValue" />
    </resultMap>

</mapper>
