<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.active.accessRecord.mapper.AccessRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.active.accessRecord.model.AccessRecord">
        <result column="URL" property="url" />
        <result column="REQ" property="req" />
        <result column="RES" property="res" />
        <result column="REPONSE_TIME" property="reponseTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="TYPE" property="type" />
        <result column="USER_ID" property="userId" />
        <result column="INTERNET_TYPE" property="internetType" />
        <result column="STATE" property="state" />
    </resultMap>

</mapper>
