<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.active.grouplottery.mapper.LotteryRemindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.active.grouplottery.model.LotteryRemind">
        <id column="ID" property="id" />
        <result column="USER_ID" property="userId" />
        <result column="OPEN_ID" property="openId" />
        <result column="STATUSC" property="statusc" />
        <result column="STATUSO" property="statuso" />
        <result column="CREATER_TIME" property="createrTime" />
    </resultMap>

</mapper>
