<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.statistics.channel.mapper.ChannelStatisticsConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.statistics.channel.model.ChannelStatisticsConfig">
        <id column="ID" property="id" />
        <result column="CONFIG_TYPE" property="configType" />
        <result column="CHANNEL_CODE" property="channelCode" />
    </resultMap>

</mapper>
