<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.active.limit.mapper.ActiveLimitDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.active.limit.model.ActiveLimitDetail">
        <id column="DETAIL_ID" property="detailId" />
        <result column="LIMIT_ID" property="limitId" />
        <result column="LIMIT_TYPE" property="limitType" />
        <result column="LIMIT_NUM" property="limitNum" />
    </resultMap>

    <sql id="Base_Column_List">
        DETAIL_ID,LIMIT_ID,LIMIT_TYPE,LIMIT_NUM
    </sql>

</mapper>
