<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.active.limit.mapper.ActiveLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.active.limit.model.ActiveLimit">
        <id column="LIMIT_ID" property="limitId" />
        <result column="ACTIVE_TYPE" property="activeType" />
        <result column="LIMIT_NUM" property="limitNum" />
        <result column="LIMIT_GOOD" property="limitGood" />
        <result column="LIMIT_TIME_START" property="limitTimeStart" />
        <result column="LIMIT_TIME_END" property="limitTimeEnd" />
        <result column="STATUS" property="status" />
        <result column="CREATER_ID" property="createrId" />
        <result column="CREATER_TIME" property="createrTime" />
        <result column="MODIFY_ID" property="modifyId" />
        <result column="MODIFY_TIME" property="modifyTime" />
    </resultMap>

    <sql id="Base_Column_List">
        LIMIT_ID,ACTIVE_TYPE,LIMIT_TYPE,LIMIT_NUM,LIMIT_GOOD,LIMIT_TIME_START,LIMIT_TIME_END,STATUS,CREATER_ID,CREATER_TIME,MODIFY_ID,MODIFY_TIME
    </sql>

    <resultMap id="queryResultMap" type="com.mmj.active.limit.model.ActiveLimitEx" extends="BaseResultMap">
        <association property="activeLimitDetails" select="queryDetail" column="{limitId=LIMIT_ID}" />
    </resultMap>

    <select id="query" resultMap="queryResultMap">
        select
          <include refid="Base_Column_List" />
        from t_active_limit
        where LIMIT_ID=#{limitId}
    </select>

    <select id="queryDetail" resultMap="com.mmj.active.limit.mapper.ActiveLimitDetailMapper.BaseResultMap">
        select
          <include refid="com.mmj.active.limit.mapper.ActiveLimitDetailMapper.Base_Column_List" />
        from t_active_limit_detail
        where LIMIT_ID = #{limitId}
    </select>

</mapper>
