<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.oauth.channel.mapper.ChannelConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.oauth.channel.model.ChannelConfig">
        <id column="ID" property="id" />
        <result column="TYPE" property="type" />
        <result column="ADVERTISER_ID" property="advertiserId" />
        <result column="URL" property="url" />
    </resultMap>

</mapper>
