<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.user.manager.mapper.BaseResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.user.manager.model.BaseResource">
        <id column="RES_ID" property="resId" />
        <result column="PARENT_ID" property="parentId" />
        <result column="RES_NAME" property="resName" />
        <result column="RES_TYPE" property="resType" />
        <result column="RES_URL" property="resUrl" />
        <result column="RES_IMAGE" property="resImage" />
        <result column="RES_MODEL" property="resModel" />
        <result column="IS_SHOW" property="isShow" />
        <result column="CREATER_ID" property="createrId" />
        <result column="CREATER_TIME" property="createrTime" />
        <result column="MODIFY_ID" property="modifyId" />
        <result column="MODIFY_TIME" property="modifyTime" />
    </resultMap>

</mapper>
