<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmj.active.search.mapper.SearchConfigurationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmj.active.search.model.SearchConfiguration">
        <id column="ID" property="id" />
        <result column="ACTIVE" property="active" />
        <result column="CONFIGURATION_ID" property="configurationId" />
        <result column="KEYWORD" property="keyword" />
        <result column="GOOD_ID" property="goodId" />
        <result column="GOOD_NAME" property="goodName" />
        <result column="DEFAULT_FLAG" property="defaultFlag" />
        <result column="BEGIN_DATE" property="beginDate" />
        <result column="END_DATE" property="endDate" />
        <result column="CREATER_ID" property="createrId" />
        <result column="CREATER_TIME" property="createrTime" />
        <result column="MODIFY_ID" property="modifyId" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="SEARCH_INDEX" property="searchIndex" />
    </resultMap>

</mapper>
